@model CW_DSCC_10983_MVC.Models.Ticket

@{
    ViewData["Title"] = "Create Ticket";
}

<h1>Create Ticket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <select asp-for="Departure" class="form-control">
                    <option value="New York">New York</option>
                    <option value="Tashkent">Tashkent</option>
                    <option value="Seoul">Seoul</option>
                    <option value="Moscow">Moscow</option>
                    <option value="Ulaanbator">Ulaanbator</option>
                </select>
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <select asp-for="Arrival" class="form-control">
                    <option value="New York">New York</option>
                    <option value="Tashkent">Tashkent</option>
                    <option value="Seoul">Seoul</option>
                    <option value="Moscow">Moscow</option>
                    <option value="Ulaanbator">Ulaanbator</option>
                </select>
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
